@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@theme {
  --color-darkblue: #26205e;
  --color-lightblue: #eef2f8;
  --color-success: #83ba09;
  --color-yellow: #eeb221;
  --color-error: #ba0909;
  --drop-shadow-main: 0 0 13px rgba(37, 30, 98, 0.25);
}
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
  }

  html {
    font-family: "Montserrat", sans-serif;
  }
}
